<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ConvertSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60833/CustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ConvertSoap"
                contract="CustomersServices.ConvertSoap" name="ConvertSoap" />
        </client>
    </system.serviceModel>
</configuration>